{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/advertise">Advertise</a> <span class="chevron">&nbsp;›&nbsp;</span> Advertisers</span>
                </div>
                <div class="cell">
                    <h1 style="padding-top: 0px;">Advertisers of GeeKaa</h1>
                    <div class="sep20"></div>
                    <span class="bigger fade">感谢你们对这里的支持，让 GeeKaa 能够持续存在并发展。</span>
                </div>
                <div class="cell">

                    <strong class="fade">Promoted by <a href="http://qebook.com/?utm_source=GeeKaa&utm_medium=banner&utm_campaign=GeeKaa" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'qebook.com');">QeBook.com</a></strong>
                    <div clas="sep5"></div>
                    <small class="snow">Reserved from 8/21 to 12/9, 2010</small>
                    
                    <div class="sep10"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://qebook.com/?utm_source=GeeKaa&utm_medium=banner&utm_campaign=GeeKaa" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'qebook.com');"><img src="http://cl.ly/512f70c3308a41c5b3b9/content" border="0" width="125" height="125" alt="电子书免费下载" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://qebook.com/?utm_source=GeeKaa&utm_medium=banner&utm_campaign=GeeKaa" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'qebook.com');">求电子书 QeBook</a></strong><div class="sep3"></div><span style="font-size: 12px;">Quality eBook free download!</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://qebook.com/make-money/?utm_source=GeeKaa&utm_medium=banner&utm_campaign=GeeKaa" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'qebook.com');"><img src="http://cl.ly/fc3ef419359e6f65121c/content" border="0" width="125" height="125" alt="电子书免费下载并且赚钱" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://qebook.com/make-money/?utm_source=GeeKaa&utm_medium=banner&utm_campaign=GeeKaa" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'qebook.com');">边看电子书边赚钱</a></strong><div class="sep3"></div><span style="font-size: 12px;">媲美天上掉馅饼的史上最轻松网赚方式</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://qebook.com/online-reading/?utm_source=GeeKaa&utm_medium=banner&utm_campaign=GeeKaa" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'qebook.com');"><img src="http://cl.ly/1041ed7b42e4170b1f26/content" border="0" width="125" height="125" alt="电子书在线阅读" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://qebook.com/online-reading/?utm_source=GeeKaa&utm_medium=banner&utm_campaign=GeeKaa" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'qebook.com');">热门IT书籍翻译在线阅读</a></strong><div class="sep3"></div><span style="font-size: 12px;">欢迎留言提交你喜欢的IT书籍的中文在线版, 比如ReWork</span>
                                </span>
                            </td>
                        </tr>
                        
                    </table>
                </div>
                
                <div class="inner">
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>